body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* Header */
header {
    background-color: #d40000; /* Indonesian red */
    color: white;
    padding: 15px;
}

header h1 {
    margin: 0;
}

/* Navigation */
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
}

/* Article cards */
.card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #d40000;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 14px;
}

a{
    color: inherit;
    text-decoration: none;
}

.article-card {
    display: flex;
    gap: 15px;
    align-items: center;
}

.article-card img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

/* Make card clickable like news sites */
.article-link {
    text-decoration: none;
    color: inherit;
}

.article-link:hover .card {
    background-color: #f9f9f9;
}

/* Full article image */
.article-img {
    width: 100%;
    max-width: 600px;
    margin: 15px 0;
    border-radius: 8px;
}

@media (max-width: 600px) { /*mobile thingy*/

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        margin: 0;
    }

    header h1 {
        font-size: 22px;
    }

    main {
        padding: 15px;
    }
}

@media (max-width: 600px) {

    .article-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .article-card img {
        width: 100%;
        height: auto;
    }
}

.quiz-container {
    width: 100%;
    max-width: 900px;
    margin: auto;
}